.login-layout {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/loginBackground.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-wrapper {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: -30vh;
    .login-title {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #f0f0f2;
      margin-bottom: 32px;
    }
    #login-form {
      width: 340px;
      .loginBtn {
        width: 100%;
      }
    }
  }
}

.login-form-forgot {
  float: right;
}